@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

body, html
{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 15px !important;
  color: #000 !important;
}
input, textarea {
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    width: 100%;
    font-size: 16px;
    padding: 11px 0;
    position: relative;
    outline: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: 0 0;
}

.navbar
{
  background-image: url('../img/mainlogo.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 120px;
}
.navbar .container-fluid
{
  justify-content: flex-end !important;
}
.navbar-global .navbar-brand,
ul.navbar-right li
{
  font-size: 15px;
  color: #000;
}
.navbar-global .navbar-brand:hover,
ul.navbar-right li:hover
{
    color: #999;
}
.navbar-global .navbar-brand > svg,
ul.navbar-right li > svg
{
  width: 20px;
  vertical-align: -10px;
  margin: 0 3px 0 0;      
}

.breadcrumb > li.float-right {
    margin: 0 0 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    align-items: center;
}
.breadcrumb > li.float-right > span
{
    width: 205px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .user td, .user th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user tr:nth-child(even){background-color: #f2f2f2;}
  
  .user tr:hover {background-color: #ddd;}
  
  .user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #737373;
    color: white;
  }
  .user.dash th{
    width: 50%;
    background-color: #999;
  }

  table.user.dash th{
    border: 1px solid black;
    letter-spacing: 1px;
    font-weight: 400;
  }

  table.user.dash td{
    border: 1px solid black;
  }

  table.user.dash{
    width : 45% ;
    margin: 0 auto;
  }
  table.user.dash tr{
    text-align: center;
    background-color: white;
  }

  table.user.dash .makered{
    background-color: red;
    color: #fff;
  }

  table.user.dash tr.highlight{
    background-color: #ffda30;
  }

  table.user.dash tr.highlight td{
    font-weight: 400;
  }
  table.user.dash tr.highlight th{
    background-color: #323232;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .loginbtn {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    top: 50%;
    margin-top: 100px;
  }

  .loginbtn h2{     
      padding-top: 30px;
      text-align: center;
  }

  .loginbtn p{
    text-align: center;
    color: red;
  }

  .loginbtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .loginbtn button {
    position: relative;
    margin: 10px;
    left: 20%;
    top:25%
  }

  .modal {
    display: block !important;
  }

  .logoutbtn {
    display: flex;
    float: right;
    width: 100px;
    margin-top: 25px;
  }
  
  .username {
      display: flex;
      max-width: 500px;
      float: left;
      margin-left: 25px;
  }

  .detailbtn {
    float: right;
    margin-top: 25px;
  }

  /* Navbar styling */
  .navbar-nav {
    display: inline-block !important;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

  .navbar{
    width: 100%;
  }

  .navbar-global {
    background-color: #ffda30;
    position: fixed;
    z-index: 999;
  }
  
  .navbar-global .navbar-brand {
    color: #000;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 60px;
    height: 100%;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    padding: 65px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }

  .logoimg{
    width: 17%;
  }

  .navbar-right{
    color: white;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-right li {
    cursor: pointer;
  }

  .justify-content-center{
    margin-top: 5%;
  }

  .detailpage{
    display: none;
  }

  ul.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul.navbar-right li {
    float: left;
    padding-left: 15px;
  }
  
  .btn {
    margin: 0 auto;
  }

  .nav-tabs li{
    cursor: pointer;
  }

  .float-right{
    margin: 0 auto;
  }
    

  .breadcrumb
  {
    align-items: center;
  }
  .breadcrumb-item.active
  {
    color: #000 !important;
  }
  .breadcrumb .back_btn{
    cursor: pointer;
  }

  .list-group a{
    cursor: pointer;
  }

  tbody .employee_name{
    cursor: pointer;
  }

  .table th {
    cursor: pointer;
  }

  .table thead th > svg.octicon{margin: 0 0 0 10px;width: 10px;fill: #fff;}
  .table thead th:first-of-type{width: 50px;}

  table > h1{text-align: center;display: table-caption;font-size: 2em;}

  .nav-tabs{border-bottom: 1px solid #ffda30;}
  .nav-link{margin: 0px;}
  .nav-tabs .nav-link{border-radius: 0px !important;background-color: #323232;color: #fff;letter-spacing: 1px;border: 0 !important;padding: 13px;}
  .nav-tabs .nav-link:hover{background-color: #ffda30 !important;color: #323232 !important;}
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: #000;background-color: #ffda30;border-color: #ffda30;}
  .nav-tabs{max-width: 797px;margin: 0 auto 20px auto !important;border: 0 !important;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
  .nav-tabs .nav-item{margin-bottom: 0;width: 33.33%;text-align: center;}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
  border: 0px !important;
  background-color: #ffda30 !important;
  color: #323232 !important;   
}
.table thead th
{
  background-color: #323232;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px;
  color: #fff;
  vertical-align: middle !important;
}
